body{
    margin: 0;
}




.maincontainer{
    display: flex;
    flex-direction: column;
}

.section-1{
    background-color: #4183E8;
    position: relative;
    width: 100%;
    align-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    z-index: 1;

}

.section-1 img{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin: 20px;

}

.section-1 h1{
    position: relative;
    text-align: center;
}

.section-1 h3{
    clear: left;
}

.section-1 h2{
    position: relative;

}

.section-1 h3{
    margin-left: 20px;

}
.section-1 p {
    margin-left: 20px;

}

.aboutme{
    text-align: left;
    font-size: 12pt;
    font-family: 'REM', sans-serif;
    width: 700px;
    margin-bottom: 30px;
}

.section-2{
    display: flex;
    background-color: #54CBFF;
    position: relative;
    width: 100%;
    height: 600px;
    flex-direction: row;

}

.check{
    z-index: 1;
    width: 30px;
    margin-bottom: 20px;
    height: 30px;
    margin-right: 15px;
    margin-top: 15px;
}

.services{
    display: flex;
    flex-direction: column;
    margin-left: 45%;
    font-family: 'REM', sans-serif;


}

.service-line{
    display: flex;
}

.services h3{
    text-align: center;
    margin-bottom: 50px;
    font-size: 14pt;
    font-family: 'REM', sans-serif;
    z-index: 1;
    margin-left: 50%;
    margin-top: 40px;
}

.services-text-list{
    z-index: 1;
    font-family: 'REM', sans-serif;
    font-size: 14pt;
    margin-left: 20px;
}

.services-pictures-list{
    z-index: 1;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.content{
    display: flex;
    flex-direction: column;
}

.content h3{
    text-align: center;
    margin-bottom: 40px;
    font-size: 14pt;
    font-family: 'REM', sans-serif;
    z-index: 1;
    margin-left: 50%;
    margin-right: -100px;
    margin-top: 40px;
}

.skills-container{
    display: flex;
    z-index: 1;
}

.skills-pictures-list{
    display: flex;
    flex-direction: column;
}

.skills-text-list{
    display: flex;
    flex-direction: column;
}

.skill-picture{
    width: 90px;
    height: 100%;
    margin-left:30px;
    margin-bottom: 30px;
    z-index: 1;
}


.skill-text{
    margin: 30px;
    font-family: 'REM', sans-serif;
    font-weight: 1200;
    margin-bottom: 55px;
    font-size: 18pt;
    z-index: 1;

}

.decore-circle{
    display: flex;
    flex-direction: row;

}

.rect{
    position: absolute;
    height: 100%;
    width: 50%;
    background-color: #5d79e8;
    display: block;

}


.arc{
    position: absolute;
    height: 100%;
    width: 150px;
    border-radius:  0 50% 50% 0;
    background-color: #5d79e8;
    margin-left: 50%;
}

.section-3{
    position: relative;
    display: grid;
    height: 500px;
    width: 100%;
    background-color: #4183E8;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 1fr;
    font-family: 'REM', sans-serif;

}


.section-3 h3{
    grid-column: 2;
}

.findme{
    font-size: 20pt;
    margin-top: 60px;
}

.upwork{
    display: flex;
    margin-left: 25px;
    margin-bottom: 30PX;
    flex-direction: row;
    
}

a{
    display: flex;
    text-decoration: none;
    color: black;
}
.upwork h3{
    font-family: 'REM', sans-serif;
}

.upwork img{
    width: 50px;
    height: 50px;
}



.facebook{
    display: flex;
    font-family: 'REM', sans-serif;
}

.facebook h3{
    margin-left: -25px;
}

.section-3 img{

    margin-right: 20px;
    margin-left: 20px;
}

#face{
    width: 100px;
}

.contactscontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.contactme{
    display: flex;
    flex-direction: column;
    margin-left: 25%;

}
.phonepic{
    width: 60px;
    height: 60px;
}

.contactme img{
    width: 40px;
    height: 40px;
    margin-top: 10px;
}

.whatssapp{
    display: flex;
    
}

.mobile{
    display: flex;
}


.email{
    display: flex;
}


@media (max-width: 700px) {
    .aboutme{
        width: 300px;
    }

    .section-3{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;

        }

    .section-3 h3{
        text-align: center;
    }

    .section-3 .contactme{
        margin-top: 30px;
        margin-left: 30px;

    }
    
    
    .section-2{
        display: flex;
        flex-direction: column;
        height: 1100px;
    }

    .content h3{
        margin-bottom: 40px;
        font-size: 14pt;
        font-family: 'REM', sans-serif;
        z-index: 1;
        margin-top: 40px;
        margin-left: -15%;
        width: 100%;
    }

    .services{
        margin-left: -1px;
        margin-left: 50px;
        display: flex;
        flex-direction: column
    }

    .services h3{
        margin-left: -30%;
    }

    .line{
        border-top: 3px solid black;
        position: relative;
        width: 60%;
        margin-top: 30px;
        margin-left: 10px;
    }

    .services-list{
        margin-top: -30px;
    }

    .maincontainer{
        width: 100%
        ;
    }

}